---
// Assets
import Bars from "@/components/assets/Bars.astro";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import HelpCenterSearch from "@/components/helpcenter/HelpCenterSearch.astro";
import HelpCenterEntries from "@/components/helpcenter/HelpCenterEntries.astro";
// Content
import { getCollection } from "astro:content";
// Content
const allEntries = await getCollection("helpcenter");
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pb-2 pt-50">
      <Text
        tag="h1"
        variant="display6XL"
        class="font-bold tracking-tighter text-black text-balance"
        >Help Center</Text
      >
      <Bars class="mt-2">Explore</Bars><HelpCenterSearch />
    </Wrapper>
    <Wrapper variant="standard" class="py-2">
      <div
        class="px-8 py-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-x-8 gap-y-24 bg-yellow"
      >
        {allEntries.map((post) => <HelpCenterEntries post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
