---
// Assets
import Bars from "@/components/assets/Bars.astro";
// Fundations
import Button from "@/components/fundations/elements/Button.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pb-2 pt-50">
      <Text
        tag="h1"
        variant="display6XL"
        class="font-bold tracking-tighter text-black text-balance"
      >
        Button</Text
      >
      <Bars class="mt-2">Styles</Bars>
    </Wrapper>

    <Wrapper variant="standard" class="py-2">
      <div class="flex flex-col px-8 py-12 gap-12 bg-orange">
        <div>
          <Text
            tag="p"
            variant="displaySM"
            class="font-semibold tracking-tight text-black text-balance"
          >
            Default
          </Text>
          <div class="flex flex-wrap items-center gap-4">
            <Button href="#_" size="xs" variant="default">Default XS</Button>
            <Button href="#_" size="sm" variant="default">Default SM</Button>
            <Button href="#_" size="base" variant="default">Default Base</Button
            >
            <Button href="#_" size="md" variant="default">Default MD</Button>
            <Button href="#_" size="lg" variant="default">Default LG</Button>
            <Button href="#_" size="xl" variant="default">Default XL</Button>
          </div>
        </div>

        <div>
          <Text
            tag="p"
            variant="displaySM"
            class="font-semibold tracking-tight text-black text-balance"
          >
            Muted
          </Text>
          <div class="flex flex-wrap items-center gap-4">
            <Button href="#_" size="xs" variant="muted">Muted XS</Button>
            <Button href="#_" size="sm" variant="muted">Muted SM</Button>
            <Button href="#_" size="base" variant="muted">Muted Base</Button>
            <Button href="#_" size="md" variant="muted">Muted MD</Button>
            <Button href="#_" size="lg" variant="muted">Muted LG</Button>
            <Button href="#_" size="xl" variant="muted">Muted XL</Button>
          </div>
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
