---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import Bars from "@/components/assets/Bars.astro";
import BlogEntry from "@/components/blog/BlogEntry.astro";
import BlogSearch from "@/components/blog/BlogSearch.astro";
// Content
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
allPosts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime(); // Convert to timestamp
  const dateB = new Date(b.data.pubDate).getTime(); // Convert to timestamp
  return dateB - dateA; // Compare timestamps
});
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pb-2 pt-50">
      <Text
        tag="h1"
        variant="display6XL"
        class="font-bold tracking-tighter text-black text-balance">Blog</Text
      >
      <Bars class="mt-2">Latest news </Bars>
      <BlogSearch />
    </Wrapper>
  </section>
  <section>
    <Wrapper variant="standard" class="py-2">
      <div class="flex flex-col px-8 bg-orange">
        {
          allPosts.map((post, index) => (
            <BlogEntry post={post} index={index + 1} />
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
