---
interface Props {
  variant?: "standard" | "prose"; // Define any variants you need
  class?: string; // Optional prop for additional classes
  id?: string; // Optional prop for additional classes
}
const { variant = "standard", class: extraClass = "", id } = Astro.props;
// Map each variant to its specific classes
const variantClasses = {
  // Standard wrapper
  standard: "mx-auto max-w-screen px-4 w-full",
  // Prose styles
  prose:
    "prose max-w-none text-white prose-base prose-headings:font-semibold prose-headings:text-black prose-li:bullets-white prose-li:marker:text-white  prose-strong:text-black prose-a:decoration-dashed prose-a:font-semibold prose-a:text-black",
};
// Combine the classes for the specified variant with any extra classes
const classes = `${variantClasses[variant]} ${extraClass}`.trim();
---

<div class={classes} id={id}>
  <slot />
</div>
